<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.19.0/font/bootstrap-icons.css">
    <style>
        .nav-pills li a:hover{
            background-color:  #0275d8;
        }

    </style>
</head>
<body>
    <div class="container-fluid">
      <div class="row flex-wrap">
        <div class="bg-dark col-auto col-md-4 col-lg-3 min-vh-100">
          <div class="bg-dark">
            <a class="d-flex text-decoration-none align-items-center ">
                <span class="fs-3 d-none d-sm-inline border-bottom">ADMIN PANEL</span>
            </a>
            <ul class="nav nav-pills flex-column mt-4">
                <li class="nav-item align-items-center">
                    <a href="#" class="nav-link active">
                       <svg  xmlns="http://www.w3.org/2000/svg" height="35" width="30" viewBox="0 5 32.236 32" id="House" ><path d="M1.656 17.756 16 5.324l14.344 12.432a1.001 1.001 0 0 0 1.312-1.512l-15-13a1 1 0 0 0-1.31 0L10 7.876V6a2 2 0 0 0-4 0v5.342L.344 16.244a1.003 1.003 0 0 0-.1 1.412c.364.416.994.462 1.412.1zM12 22h8v10h6a2 2 0 0 0 2-2v-9.802c0-.6-.268-1.166-.732-1.546l-10-8.198a1.996 1.996 0 0 0-2.536 0l-10 8.198A1.993 1.993 0 0 0 4 20.198V30a2 2 0 0 0 2 2h6V22z" fill="#ffffff" class="color000000 svgShape"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            HOME</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <svg xmlns="http://www.w3.org/2000/svg"  height="50" width="30" viewBox="0 15 1798 1792" id="Dashboard"><path d="M384 1152q0-53-37.5-90.5T256 1024t-90.5 37.5T128 1152t37.5 90.5T256 1280t90.5-37.5T384 1152zm192-448q0-53-37.5-90.5T448 576t-90.5 37.5T320 704t37.5 90.5T448 832t90.5-37.5T576 704zm428 481 101-382q6-26-7.5-48.5T1059 725t-48 6.5-30 39.5l-101 382q-60 5-107 43.5t-63 98.5q-20 77 20 146t117 89 146-20 89-117q16-60-6-117t-72-91zm660-33q0-53-37.5-90.5T1536 1024t-90.5 37.5-37.5 90.5 37.5 90.5 90.5 37.5 90.5-37.5 37.5-90.5zm-640-640q0-53-37.5-90.5T896 384t-90.5 37.5T768 512t37.5 90.5T896 640t90.5-37.5T1024 512zm448 192q0-53-37.5-90.5T1344 576t-90.5 37.5T1216 704t37.5 90.5T1344 832t90.5-37.5T1472 704zm320 448q0 261-141 483-19 29-54 29H195q-35 0-54-29Q0 1414 0 1152q0-182 71-348t191-286 286-191 348-71 348 71 286 191 191 286 71 348z" fill="#ffffff" class="color000000 svgShape"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            DASHBOARD</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" height="50" width="30" class="svg-icon" style="vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M913.843134 302.744115c0.008186-4.178159-0.989537-8.40953-3.281743-12.260232l-117.731378-149.655462c-4.318352-7.242961-12.135388-11.685133-20.570501-11.685133l-117.731378 0-159.635767 0-245.439992 0c-8.43409 0-16.251126 4.442172-20.569478 11.685133l-117.731378 149.655462c-2.292206 3.850701-3.289929 8.082072-3.281743 12.260232l-0.094144 0 0 501.982856c0 49.231261 37.851073 87.799672 86.147032 87.799672l300.969703 0 159.635767 0 173.262112 0c48.295959 0 86.146009-38.568411 86.146009-87.799672l0-501.982856L913.843134 302.744115zM758.658749 177.034019l102.034884 125.710097L526.81952 302.744115 526.81952 177.034019l127.708614 0L758.658749 177.034019zM263.055185 177.034019l231.837182 0 0 125.710097L161.018254 302.744115 263.055185 177.034019zM827.790246 844.63489 654.528134 844.63489l-159.635767 0L193.922664 844.63489c-21.450545 0-38.256302-17.531282-38.256302-39.908942l0-454.092126 710.379163 0 0 454.092126C866.045525 827.103608 849.240791 844.63489 827.790246 844.63489z"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            PRODUCTS</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link text-white">
                        <svg xmlns="http://www.w3.org/2000/svg"  height="50" width="30" class="svg-icon" style="vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1"><path d="M843.282963 870.115556c-8.438519-140.515556-104.296296-257.422222-233.908148-297.14963C687.881481 536.272593 742.4 456.533333 742.4 364.088889c0-127.241481-103.158519-230.4-230.4-230.4S281.6 236.847407 281.6 364.088889c0 92.444444 54.518519 172.183704 133.12 208.877037-129.611852 39.727407-225.46963 156.634074-233.908148 297.14963-0.663704 10.903704 7.964444 20.195556 18.962963 20.195556l0 0c9.955556 0 18.299259-7.774815 18.962963-17.73037C227.745185 718.506667 355.65037 596.385185 512 596.385185s284.254815 122.121481 293.357037 276.195556c0.568889 9.955556 8.912593 17.73037 18.962963 17.73037C835.318519 890.311111 843.946667 881.019259 843.282963 870.115556zM319.525926 364.088889c0-106.287407 86.186667-192.474074 192.474074-192.474074s192.474074 86.186667 192.474074 192.474074c0 106.287407-86.186667 192.474074-192.474074 192.474074S319.525926 470.376296 319.525926 364.088889z"/></svg><span class="fs-5 ms-3 d-none d-sm-inline">
                            CUSTOMERS</span>
                    </a>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>