<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP</title>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="/static/otp.css">
</head>
<body>
    
<section class="container-fluid bg-body-tertiary d-block">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4" style="min-width: 500px;">
          <div class="card bg-white mb-5 mt-5 border-0" style="box-shadow: 0 12px 15px rgba(0, 0, 0, 0.02);">
            <div class="card-body p-5 text-center">
              <h4>Verify</h4>
              <p>Your code was sent to you via email</p>
               <form action="/forgotpassotp" method="post">
              <div class="otp-field mb-4">
                
                <input  name="otp1" maxlength="6" />
                <input  name="otp2" maxlength="6"  disabled/>
                <input  name="otp3" maxlength="6"  disabled/>
                <input  name="otp4" maxlength="6"  disabled/>
                <input  name="otp5" maxlength="6"  disabled/>
                <input  name="otp6" maxlength="6" disabled/>
            
              </div>

              <% if(locals.incorrect){ %>
                <div class="alter alert-success text-center" style="color: red;">
                    <%= incorrect %>
                </div>
                <% } %>
           
  
              <button class="btn btn-primary mb-3" type="submit">
                Verify
              </button>
            </form>

            <div id="timer"></div>

  
              <p class="resend text-muted mb-0">
                Didn't receive code? <a href="/otpverif">Request again</a>
              </p>
            </div>
          </div>
        </div>
      </div>
  </section>
  <script src="/js/otp.js"></script>
  <script>
    function startTimer(duration, display) {
      let timer = duration;

      const intervalId = setInterval(function () {
        const minutes = String(Math.floor(timer / 60)).padStart(2, '0');
        const seconds = String(timer % 60).padStart(2, '0');

        display.textContent = `${minutes}:${seconds}`;

        if (--timer < 0) {
          clearInterval(intervalId);
          alert("Time Out");
          window.location.href = "/signup"; // Redirect to the signup page
        }
      }, 1000);
    }

    document.addEventListener("DOMContentLoaded", function () {
      const initialDuration = 60;
      const displayElement = document.getElementById("timer");

      startTimer(initialDuration, displayElement);
    });
  </script>
  </body>
  </html>